<div class="row">
  <div class="ticket-name">
    <h1>{{ticket.name}}</h1>
  </div>
  <div class="ticket-seat">
    <h1>{{ticket.seat}}</h1>
  </div>
</div>
<div class="row">
  <div class="ticket-issue">
    <p>{{ticket.issue}}</p>
  </div>
</div>
