<div class="row">
  <div class="ticketName">
    <h1>{{ticket.name}}</h1>
  </div>
  <div class="ticketSeat">
    <h1>{{ticket.seat}}</h1>
  </div>
</div>
<div class="row">
  <div class="ticketIssue">
    <p>{{ticket.issue}}</p>
  </div>
</div>
